.container {
    max-width: 1250px;
    min-height: 100vh;
    margin: 24px auto;
}

.layoutContainer {
    margin: 15px 30px 0 30px
}

.loadingButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

.loadingButtonContainer {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-bottom: 18px;
}